## all ignore
*
!*/

## zsh
!/.zshrc
!/.zsh.d/
!/.zsh.d/* 

## vim
!/.vimrc



## localfiles
!/mybin-local/
!/mybin-local/bin/*

## config
!/.config
!/.config/nvim/*

## global
!/.mybin/
!/.mybin/*
!/README.md
!/.installer/
!/.installer/*
