## all ignore
*
!*/

## zsh
!/.zshrc
!/.zsh.d/
!/.zsh.d/bin.zsh
!/.zsh.d/pluging.zsh
!/.zsh.d/prompt.zsh
!/.zsh.d/setting.zsh

## vim
!/.vimrc

## nvim

## tmux
!/.tmux.conf

## wezterm
!/.wezterm.lua

## localfiles
!/mybin-local/
!/mybin-local/bin/

## config
!/.config/nvim/
!/.config/nvim/**
# !/.config
# !/.config/nvim/_init.vim
# !/.config/nvim/init.lua
# !/.config/nvim/_init.vim
# !/.config/nvim/lua/base.lua
# !/.config/nvim/lua/keymaps.lua
# !/.config/nvim/lua/lazy_nvim.lua
# !/.config/nvim/lua/options.lua
# !/.config/nvim/lua/plugins.lua
# !/.config/nvim/lua/**

# copilot
!/.copilot/prompts/
!/.copilot/**


## global
!/.mybin/
!/.mybin/*
!/README.md
!/.installer/
!/.installer/*
