## all ignore
*
!*/

## zsh
!/.zshrc
!/.zsh.d/
!/.zsh.d/bin.zsh
!/.zsh.d/pluging.zsh
!/.zsh.d/prompt.zsh
!/.zsh.d/setting.zsh



## vim
!/.vimrc

## tmux
!/.tmux.conf



## localfiles
!/mybin-local/
!/mybin-local/bin/

## config
!/.config
!/.config/nvim/*

## global
!/.mybin/
!/.mybin/*
!/README.md
!/.installer/
!/.installer/*
